<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/lib/barRating/barRating.init.js"></script>
    <script src="/js/lib/barRating/jquery.barrating.js"></script>
    <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/js/lib/c3/c3-init.js"></script>
    <script src="/js/lib/c3/c3.min.js"></script>
    <script src="/js/lib/c3/d3.min.js"></script>
    <script src="/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="/js/lib/calendar-2/pignose.init.js"></script>
    <script src="/js/lib/calendar-2/prism.min.js"></script>
    <script src="/js/lib/calendar-2/semantic.ui.min.js"></script>
    <script src="/js/lib/calendar/fullcalendar-init.js"></script>
    <script src="/js/lib/calendar/fullcalendar.min.js"></script>
    <script src="/js/lib/chart-amchart/amchart-init.js"></script>
    <script src="/js/lib/chart-amchart/amcharts.js"></script>
    <script src="/js/lib/chart-amchart/ammap.js"></script>
    <script src="/js/lib/chart-amchart/amstock.js"></script>
    <script src="/js/lib/chart-amchart/export.min.js"></script>
    <script src="/js/lib/chart-amchart/light.js"></script>
    <script src="/js/lib/chart-amchart/pie.js"></script>
    <script src="/js/lib/chart-amchart/serial.js"></script>
    <script src="/js/lib/chart-amchart/worldLow.js"></script>
    <script src="/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/js/lib/chart-js/chartjs-init.js"></script>
    <script src="/js/lib/chartist/chartist-init.js"></script>
    <script src="/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="/js/lib/chartist/chartist.min.js"></script>
    <script src="/js/lib/chat-widget/chat-widget-init.js"></script>
    <script src="/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="/js/lib/datamap/d3.min.js"></script>
    <script src="/js/lib/datamap/datamap-init.js"></script>
    <script src="/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="/js/lib/datamap/topojson.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/google/code-prettify/master/loader/run_prettify2102.js"></script>
    <script src="/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/js/lib/datatables/datatables-init.js"></script>
    <script src="/js/lib/datatables/datatables.min.js"></script>
    <script src="/js/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/js/lib/dropzone/dropzone.js"></script>
    <script src="/js/lib/easing/jquery.easing.min.js"></script>
    <script src="/js/lib/easing/stepup-form-init.js"></script>
    <script src="/js/lib/echart/dashboard1-init.js"></script>
    <script src="/js/lib/echart/echarts-init.js"></script>
    <script src="/js/lib/echart/echarts.js"></script>
    <script src="/js/lib/flot-chart/curvedLines.js"></script>
    <script src="/js/lib/flot-chart/excanvas.min.js"></script>
    <script src="/js/lib/flot-chart/flot-chart-init.js"></script>
    <script src="/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.categories.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.pie.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.stack.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.threshold.js"></script>
    <script src="/js/lib/flot-chart/jquery.flot.time.js"></script>
    <script src="/js/lib/form-validation/jquery.validate-init.js"></script>
    <script src="/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="/js/lib/gmap/gmap.init.js"></script>
    <script src="/js/lib/gmap/gmapApi.js"></script>
    <script src="/js/lib/gmap/gmaps.js"></script>
    <script src="/js/lib/google-chart/google-charts.init.js"></script>
    <script src="/js/lib/google-chart/google-jsapi.js"></script>
    <script src="/js/lib/granim/granim-init.js"></script>
    <script src="/js/lib/granim/granim.min.js"></script>
    <script src="/js/lib/highchart/highcharts-init.js"></script>
    <script src="/js/lib/highchart/highcharts-modules-exporting.js"></script>
    <script src="/js/lib/highchart/highcharts-more.js"></script>
    <script src="/js/lib/highchart/highcharts.js"></script>
    <script src="/js/lib/html5-editor/bootstrap-wysihtml5.js"></script>
    <script src="/js/lib/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="/js/lib/html5-editor/wysihtml5-init.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/lib/jquery-ui/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/lib/jquery/jquery.min.js"></script>
    <script src="/js/lib/jsgrid/db.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.textarea.js"></script>
    <script src="/js/lib/jsgrid/jsgrid-init.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.core.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.field.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.validation.js"></script>
    <script src="/js/lib/justgage/justgage.init.js"></script>
    <script src="/js/lib/justgage/justgage.js"></script>
    <script src="/js/lib/justgage/raphael-min.js"></script>
    <script src="/js/lib/knob/jquery.knob.min.js"></script>
    <script src="/js/lib/knob/knob.init.js"></script>
    <script src="/js/lib/line-progress/jquery.lineProgressbar.js"></script>
    <script src="/js/lib/line-progress/line-progress-init.js"></script>
    <script src="/js/lib/menubar/sidebar.js"></script>
    <script src="/js/lib/metismenu/jquery.slimscroll.js"></script>
    <script src="/js/lib/metismenu/metismenu.init.js"></script>
    <script src="/js/lib/metismenu/metismenu.min.js"></script>
    <script src="/js/lib/moment/moment.js"></script>
    <script src="/js/lib/morris-chart/dashboard1-init.js"></script>
    <script src="/js/lib/morris-chart/morris-init.js"></script>
    <script src="/js/lib/morris-chart/morris.js"></script>
    <script src="/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/lib/nestable/jquery.nestable.js"></script>
    <script src="/js/lib/nestable/nestable.init.js"></script>
    <script src="/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/lib/peitychart/jquery.peity.min.js"></script>
    <script src="/js/lib/peitychart/peitychart.init.js"></script>
    <script src="/js/lib/portlets/portlets-init.js"></script>
    <script src="/js/lib/portlets/portlets.js"></script>
    <script src="/js/lib/preloader/pace.min.js"></script>
    <script src="/js/lib/rangeSlider/ion.rangeSlider.min.js"></script>
    <script src="/js/lib/rangeSlider/moment-with-locales.js"></script>
    <script src="/js/lib/rangeSlider/moment.js"></script>
    <script src="/js/lib/rangeSlider/rangeslider.init.js"></script>
    <script src="/js/lib/rating1/jRate.init.js"></script>
    <script src="/js/lib/rating1/jRate.min.js"></script>
    <script src="/js/lib/rickshaw/d3.layout.min.js"></script>
    <script src="/js/lib/rickshaw/d3.min.js"></script>
    <script src="/js/lib/rickshaw/rickshaw-init.js"></script>
    <script src="/js/lib/rickshaw/rickshaw.min.js"></script>
    <script src="/js/lib/scrollable/holder.js"></script>
    <script src="/js/lib/scrollable/jquery-asScrollable.min.js"></script>
    <script src="/js/lib/scrollable/jquery-asScrollbar.js"></script>
    <script src="/js/lib/scrollable/scrollable.init.js"></script>
    <script src="/js/lib/select2/select2.full.min.js"></script>
    <script src="/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/js/lib/sweetalert/sweetalert.init.js"></script>
    <script src="/js/lib/sweetalert/sweetalert.min.js"></script>
    <script src="/js/lib/toastr/toastr.init.js"></script>
    <script src="/js/lib/toastr/toastr.min.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.algeria.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.argentina.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.brazil.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.europe.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.france.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.germany.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.greece.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.iran.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.iraq.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.russia.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.turkey.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.usa.js"></script>
    <script src="/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="/js/lib/vector-map/vector.init.js"></script>
    <script src="/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="/js/lib/weather/weather-init.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/sidebarmenu.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
