<!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Ask</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>-->
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title card-title-1">Make project</h4>
                        <h6 class="card-subtitle">Input details about your project. Our AI will find best matching
                            developers for your request.</h6>
                        <form class="form p-t-20">
                            <div class="form-group">
                                <label for="exampleInputuname2">Title</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="title" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputuname2">Max price in ECTA Tokens</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="price" placeholder="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Description</label>
                                <textarea style="height: 100px;" class="form-control" rows="5" placeholder=""></textarea>
                            </div>


                            <div class="text-left">
                                <button type="submit" class="btn btn-info  waves-effect waves-light m-r-10">Submit</button>
                                <button type="submit" class="btn btn-warning waves-effect waves-light">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>





            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->