        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Offer</h3> </div>
                <div class="col-md-7 align-self-center">
                   <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>-->
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                      
                    
                        <% for(var i=0; i<3; i++) {%>
                    <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body p-b-0">
                                        <h4 class="card-title">Project title</h4>
                                        <h6 class="project-price">50000 ECTA Tokens</h6>
                                      
                                       
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs customtab" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#home2" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Description</span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Developers</span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Judge</span></a> </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="home2" role="tabpanel">
                                                <div class="p-20">
                                                       
                                                    <p class="project-desc">Praesent molestie massa sit amet mauris placerat, vitae imperdiet nisl placerat. Quisque dictum fermentum lectus nec ornare. Etiam interdum id felis et suscipit. Nam sed erat ut nunc facilisis interdum ut sit amet felis. Nunc nec tincidunt metus. Etiam pharetra semper lacinia. Aliquam leo nisl, suscipit convallis feugiat in, laoreet quis nisi. Vivamus ultricies, mauris sit amet efficitur ultricies, enim lorem porta tortor, id sodales velit urna eget erat.



                                                    
                                                    <p class="project-desc">
                                                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed luctus, augue quis interdum tempor, nisi erat ullamcorper odio, cursus aliquam odio elit in tellus. Integer tincidunt magna turpis, cursus ultricies risus pellentesque sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras convallis lacinia est quis bibendum. Morbi consectetur, neque nec fermentum rutrum, metus mi fringilla tellus, nec ultricies nisi metus eu dolor. Vestibulum blandit mi vel est rhoncus pulvinar. Donec sit amet eros vel erat laoreet molestie.
                                                </p>
                                                   
                                                    
                                               
                                                </div>
                                            </div>
                                            <div class="tab-pane p-20" id="profile2" role="tabpanel">
                                                    <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Name</th>
                                                                        <th>Role</th>
                                                                        <th>ECTA Skill Tokens</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <div class="round-img">
                                                                                <a href=""><img src="images/avatar/4.jpg" alt=""></a>
                                                                            </div>
                                                                        </td>
                                                                        <td>John Abraham</td>
                                                                        <td><span>Frontend developer</span></td>
                                                                        <td><span>45</span></td>
                                                                        <td><span class="badge badge-success">Accepted</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="round-img">
                                                                                <a href=""><img src="images/avatar/2.jpg" alt=""></a>
                                                                            </div>
                                                                        </td>
                                                                        <td>John Abraham</td>
                                                                        <td><span>Backend developer</span></td>
                                                                        <td><span>24</span></td>
                                                                        <td><span class="badge badge-success">Accepted</span></td>
                                                                    </tr>
                                                                  
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>


                                            </div>
                                            <div class="tab-pane p-20" id="messages2" role="tabpanel">
                                                    <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Name</th>
                                                                        <th>Role</th>
                                                                        <th>ECTA Skill Tokens</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <div class="round-img">
                                                                                <a href=""><img src="images/avatar/4.jpg" alt=""></a>
                                                                            </div>
                                                                        </td>
                                                                        <td>John Abraham</td>
                                                                        <td><span>Frontend developer</span></td>
                                                                        <td><span>45</span></td>
                                                                        <td><span class="badge badge-success">Accepted</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="round-img">
                                                                                <a href=""><img src="images/avatar/2.jpg" alt=""></a>
                                                                            </div>
                                                                        </td>
                                                                        <td>John Abraham</td>
                                                                        <td><span>Backend developer</span></td>
                                                                        <td><span>24</span></td>
                                                                        <td><span class="badge badge-success">Accepted</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                            <td>
                                                                                <div class="round-img">
                                                                                    <a href=""><img src="images/avatar/2.jpg" alt=""></a>
                                                                                </div>
                                                                            </td>
                                                                            <td>John Abraham</td>
                                                                            <td><span>Backend developer</span></td>
                                                                            <td><span>24</span></td>
                                                                            <td><span class="badge badge-success">Accepted</span></td>
                                                                        </tr>
                                                                  
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>

                                            </div>
                                            
                                            <button type="button" class="btn btn-info m-b-10 m-l-5">Accept it</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <% } %>
                </div>

                
              




                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
         
        </div>
        <!-- End Page wrapper  -->